.subMenu {
    li {
        padding: 10px;
    }
    li:hover {
        opacity: 0.5;
    }
}
.navbar-expenses:hover {
    opacity: 0.5;
}
.navbar-home:hover {
    opacity: 0.5;
}
.navbar-explore:hover {
    opacity: 0.5;
}
.navbar-more:hover {
    opacity: 0.5;
}

.login-logout-button:hover {
    opacity: 0.5;
}
