.input-icon_img {
    position: absolute;
    top: -40%;
    right: 10%;
    font-size: 25px;
}

.input-container {
    .radio-margin-top {
        margin-bottom: 2%;
    }

    color: aliceblue;
}

.button_margin_rest {
    margin: 3.5% 0 1%;
}



.file-input {
    cursor: pointer;
    border-radius: 8px;
}